.form h3 {
  margin-bottom: 30px;
  border-bottom: 3px solid #a62626;
  width: fit-content;
  padding-bottom: 5px;
}

.form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.form input {
  display: block;
  width: 300px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 30px;
}

.form button {
  background-color: #a62626;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.form button:disabled {
  opacity: 0.5;
}

.form p {
  background-color: #a62626;
  margin-bottom: 20px;
  color: #fff;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
