.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  width: calc(100% - 200px);
}

.card {
  width: 330px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.card img {
  width: 150px;
  height: 130px;
  border-radius: 3px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info div {
  color: gray;
  font-size: 0.9rem;
}
