.form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 30px;
}

.form p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.form span {
  color: gray;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.form input {
  margin: 10px 0 20px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;
}

.form button {
  width: 110px;
  padding: 5px 10px;
  border: none;
  background-color: #a62626;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
